<h2>A private market</h2>
<p>Shinobiri is going through some changes and should be back in development soon.</p>
<h5>-</h5>
<h5><i class="material-icons">warning</i> Rules:</h5>
<ol>
  <li>Spam will not be tolerated.</li>
  <li>Any good, service, or content that violates the law is prohibited.</li>
  <li>Users that don't respect the terms stated above will be banned without warning.</li>
  <li>Rules are subject to change without notice.</li>

  <li><small>work in progress</small>...</li>
</ol>
<h5>-</h5>
<h5>How it works:</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h5>-</h5>
<h5>About the name:</h5>
<p>The name comes from Ninjutsu's <i>Shinobi-iri,</i> the art of stealth, the abilities of ninjas to remain unseen and undetected.</p>
<h5>-</h5>
<h5>Want to contribute to the project?</h5>
<p>For suggestions, you can fork the project <%= link_to "here.", "https://github.com/ChristianCruz/Shinobiri", target: "_blank"
%></p>