
<div class="col s10">
  <h2>A private market</h2>
  <p>
    Capstone project for the 2016 TTS Dallas part time cohort.     
    The idea is to create a "craigslist" type of market where     
    the goal of the user is met in the most efficient way       
    possible. Shinobiri is a free tool where the users sell     
    goods and control their transactions.                       
    Shinobiri is an open marketplace but we also have rules.     
    A few simple rules used to protect the users and respect     
    the laws. We encourage users and give them the options to   
    enforce these rules as well. See the rules section down below for more information. 
    <br><br>   
    Shinobiri is free to use and ment to be a portfolio piece and full-stack web development experiment.   
    The front-end and back-end work is a combination of           
    the materialize framework and custom CSS for styling,          
    JQUERY and AJAX for interaction and transitions,              
    Ruby on Rails as an umbrella for the project and database    
    production &amp; development. And the use of several gems that   
    made the logic behind this idea possible.                                                
  </p>
  <h5>-</h5>
  <h5>About the name:</h5>
  <p>The name comes from Ninjutsu's <i>Shinobi-iri,</i> the art of stealth, the abilities of ninjas to remain unseen and undetected.</p>
  <h5>-</h5>
  <h5><i class="material-icons">warning</i> <small>*</small>Follow these rules to avoid getting your post removed or ip banned:</h5>
  <ol>
    <li>In order to post products, ask questions or buy goods, we require that the user must first register an account.</li>
    <li>Spam will not be tolerated.</li>
    <li>Any good, service, or content that violates the law is prohibited.</li>
    <li>Any service, or content that puts the life of someone in danger will be removed and the user banned.</li>
    <li>Posts with the most upvotes will show up first.</li>
    <li>Posts with X amount of downvotes get deleted <small>(Work in progress)</small>.</li>
    <li>Flagged posts will be reviewed before taking action.</li>
    <small>* This is a work in progress and rules are subject to change without notice.</small>

  </ol>
  <h5>-</h5>
  <h5>Want to contribute to the project?</h5>
  <p>For suggestions, you can fork the project <%= link_to "here.", "https://github.com/ChristianCruz/Shinobiri", target: "_blank"
  %></p>
</div>