<h2>A private market</h2>
<p>Shinobiri is a place for people who want to sell and/or buy goods discreetly.</p>
<h5>-</h5>
<h5>Rules:</h5>
<ol>
  <li>All stores are private without exception.</li>
  <li>Sellers decide who they invite to their shops.</li>
  <li>Purchases are only possible with Bitcoins or Ethers.<li>Users are required to have a PO BOX to create an account.</li>
  <li>Users are responsible for their transactions.</li>
  <li>Spam will not be tolerated.</li>
  <li>Problematic users will be banned without notice.</li>
</ol>
<h5>-</h5>
<h5>How it works:</h5>
<p>You do a search for the item you're looking for. Once you confirm your search, a notification is sent to the users with that item. Sellars who have the item you are looking for decide whether they invite you to their shops or not.</p>
<h5>-</h5>
<h5>About the name:</h5>
<p>The name comes from Ninjutsu's <i>Shinobi-iri,</i> the art of stealth, the abilities of ninjas to remain unseen and undetected.</p>
<h5>-</h5>
<h5>Want to contribute to the project?</h5>
<p>For suggestions, you can fork the project <%= link_to "here.", "https://github.com/ChristianCruz/Shinobiri", target: "_blank"
%></p>