
<div class="col s10">
  <h2>A private market</h2>
  <p>Shinobiri is a marketplace where people can enjoy discreet commerce.</p>
  <h5>-</h5>
  <h5><i class="material-icons">warning</i> Follow these rules to avoid getting your post removed or ip banned:</h5>
  <ol>
    <li>Every user wanting to post a product for sale, ask questions or looking to buy anything must first register an account. </li>
    <li>Spam will not be tolerated.</li>
    <li>Any good, service, or content that violates the law is prohibited.</li>
    <li>Posts with the most upvotes will show up first.</li>
    <li>Flagged posts will be removed.</li>
    <li>Rules are subject to change without notice.</li>
    <li><small>(work in progress)</small></li>
  </ol>
  <h5>-</h5>
  <h5>How it works:</h5>
  <ul>
    <li><em>User A</em> puts a computer for sale.</li>
    <li><em>User B</em> is searching for computers and finds that posting.</li>
    <li>He hits the "Interested" button and <em>User A</em> gets an email requesting an inVoice.</li>
    <li>User A replies with InVoice, a delivery information form and the "BUY" button.</li>
    <li>User B completes the form and hits the transaction button.</li>
  </ul>
  <h5>-</h5>
  <h5>About the name:</h5>
  <p>The name comes from Ninjutsu's <i>Shinobi-iri,</i> the art of stealth, the abilities of ninjas to remain unseen and undetected.</p>
  <h5>-</h5>
  <h5>Want to contribute to the project?</h5>
  <p>For suggestions, you can fork the project <%= link_to "here.", "https://github.com/ChristianCruz/Shinobiri", target: "_blank"
  %></p>
</div>