
  <div class="col s12">
    <h2>Welcome to<br>the Shinobiri market.</h2>
    <p>What are we looking for today?</p>
  </div>

  <div class="">
    <div class="input-field">
      <%= form_tag do %>
        <%= text_field_tag :search, '', autofocus: true%>
        <br>
        <button type="submit" name="commit" value="Search" class="btn btn-default">search</button> 
      <% end %>
    </div>
  </div>
