<div class="row">
  <div class="col l6">
    <h2>Add a product for sale</h2> 
    <p><strong>Here's how you do it:</strong></p>
    <ol>
      <li>Type in your product's name.</li>
      <li>Then, in a simple and brief description, tell us what the product is about.</li>
      <li>Type in your asking price.</li>
      <li>Upload 4 pictures <small>(this is a must!)</small>.</li>
      <li>Hit the SAVE button.</li>
    </ol>

  </div>
  <div class="col l5 offset-l1">
    <br><br>
    <%= render partial: 'form', locals: { post: @post } %>
  </div>
</div>