/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$dark-grey-01: color("grey", "darken-4") !default;
$dark-grey-02: #181818;
$green-01: color("light-green", "accent-3");
$green-02: color("light-green", "accent-4");

@import "materialize";


//= = = = = = = = = = = = = = = = = = /
// - GENERAL STYLES                  /
//= = = = = = = = = = = = = = = = = /

html {
  color: $green-01;
  font-family: 'Source Code Pro';
}

body {
  background: image-url('bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 100%;
     height: auto;
}

h1, h2 {
  font-weight: 200;
  display: inline-block;
}

h5 {
  text-transform: uppercase;
  font-weight: 200;
  color: #fff;
  i {
    display: inline-flex;
    vertical-align: middle;
  }
}

.collection {
  border: none;
  small {
    color: #999;
  }
}

.collection-item {
  background-color: #000 !important;
  margin-bottom: 20px !important;
  border-bottom: none !important;
  transition: all .25s linear 0s;
  .row {
    margin-bottom: 0;
  }
  &:hover {
    background-color: #242424 !important;
    transition: all .25s linear 0s;
  }
}


.main-content {
  padding-bottom: 80px;
  min-height: 100%;
  height: 100%;
}

.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.alert-success {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff !important;
  color: #000 !important;
  .close {
    border: none;
    box-shadow: none;
    font-size:30;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: #000000 !important;
    color: #ffffff !important;
  }
}


.alert, .alert-danger, .alert-warning {
  margin-top: 20px;
  padding: 10px;
  background-color: #000;
  color: red;
  .close {
    border: none;
    box-shadow: none;
    font-size:30;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: red;
    color: #000
  }
}
//= = = = = = = = = = = = = = = = = = /
// - NAVIGATION                      /
//= = = = = = = = = = = = = = = = = /

nav {
  background-color: rgba(33, 33, 33, 0.8);
    .brand-logo {
      color: #fff !important;
      margin-left: 15px;
      font-weight: 200;
      box-shadow: none !important;
      border-bottom: 1px solid #fff;
       background-color: none;
       transition: all .25s linear 0s;
       &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
        color: $green-01 !important;
        transition: all .25s linear 0s;
       }
    }

    a {
      color: $green-01 !important;
      font-weight: 200;
      margin-right: 5px;
      &:hover {;
        background-color: $green-01 !important;
        i {
          color: #000;
        }
      }
      i {
        font-size: 25px !important;
        color: #fff;
        &:hover {
          color: #000;
          transition: all .25s linear 0s;
        }
      }
    }
}


nav
.active {
  border-bottom: 1px solid $green-01;
}

.backdrop{
       background-color: rgba(0, 0, 0, 0);
}


//= = = = = = = = = = = = = = = = = = /
// - FOOTER STYLES                   /
//= = = = = = = = = = = = = = = = = /

.footer {
  background-color: rgba(0,0,0,0.88) !important;
  width: 100%;
  padding-left: 20px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  color: #444;
}



//= = = = = = = = = = = = = = = = = = /
// - CUSTOM STYLES                   /
//= = = = = = = = = = = = = = = = = /

.add-post {
  margin-top: 35px;
  i {
    color: #000;
  }
  &:hover {
    i {
      color: #fff;  
    }
  }
}

form {
  input {
    padding-left: 11px !important;
    border-bottom: 0 solid #000 !important;
    color: $green-01 !important;
    background-color: #000 !important;
  }
  input:focus {
    border-bottom: 0 solid #000 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    color: $green-01 !important;
    background-color: #000;
  }
}

#keyword {
  // padding-left: 20px;
  max-width: 600px;
}

.welcome-signup {
  // border-top: 4px solid #000;
  margin-top: 90px;
}

.card-action {
  padding-top: 0;
}

.card-title {
  line-height: 30px !important;
}

.intro {
  margin-top: 90px;
  h2 {
    margin-top: 0;
  }
}

// * - - POSTS - - * //
//------------------//

.post {
  margin-top: 45px;
  .post_small {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #888;
  }
  h3, h4, p {
    margin-top: 0;
    padding-top: 0;
  }
  .btn-back {
    display: block;
    clear: both;
    i {
      color: #000;
      &:hover {
        color: $green-01;
      }
    }
  }
}

.images-column {
  // background-color: red;
}

// * - - BUTTONS - - * //
//--------------------//

.btn {
  background-color: $green-01 !important;
  color: #000 !important;
  text-align: center !important;
  &:hover {
    background-color: #000 !important;
    color: $green-01 !important;
    border-radius: 0;
  }
  &:active {
    color: #000;
  }
}

.exit_app {
  color: red;
  &:hover {
    color: #fff;
  }
}


// * - -  images  - - * //
//---------------------//

.post-image {
  margin-top: 3px;
  img {
    border-radius: 4px;    
  }
}

.product-title {
  display: inline;
}




